<p>small-card works!</p>
<div class="small_card-container">
    <div class="small_card_content-container">
        <div class="small_card-image">
            <img src="https://s2-techtudo.glbimg.com/LgPcIJx_pHRi-4gXBNke-Bi7Uj0=/0x0:1200x700/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/u/U/wASifvRzezZ2o288RjHA/yellowjackets-1-.jpg"
                alt="">
        </div>

        <div class="small_card-title">
            <h1><a href="#">Aula de Angular</a></h1>
        </div>
    </div>
    <div class="small_card_separator-container">
        <hr>
    </div>

</div>